In [ ]:
number1 = 5
number2 = 10

In [ ]:
if number1 == number2:
    print("number1 and number2 are equal")

In [ ]:
if number1 > number2:
    print("number1 is greater than number2")

In [ ]:
if number1 >= number2:
    print("number1 is greater than or equal to number2")

In [ ]:
if number1 != number2:
    print("number1 and number2 are NOT equal")

In [ ]:
number1 = 5
number2 = 5
number3 = 5

In [ ]:
if number1 == number2 and number2 == number3:
    print("All three numbers are equal")

In [ ]:
if number1 == number2 or number2 == number3:
    print("Either number1==number2 or number2==number3 (or both)")

In [ ]:
if number1 > number2 and number1 > number3:
    print("number1 is greater than number2 AND number3")

In [ ]:
if number1 > number2:
    print("number1 is greater than number2")
else:
    if number2 > number3:
        print("number2 is greater than number3 (and number1 was not > number2)")

In [ ]:
if number1 == number2:
    print("number1 and number2 are equal")
else:
    if number1 == number3:
        print("number1 and number3 are equal (but number1 and number2 are not)")

In [ ]:
name1 = "Anna"
name2 = "Maria"
name3 = "Anna"

In [ ]:
if name1 == name2:
    print("name1 and name2 are equal")

In [ ]:
if name1 != name2:
    print("name1 and name2 are NOT equal")

In [ ]:
if name1 == name2:
    print("name1 and name2 are equal")
else:
    if name1 == name3:
        print("name1 and name3 are equal (but name1 and name2 are not)")